@model TCIPlaba1.Models.ParticipantParticipantMatch

@{
	ViewData["Title"] = "Create";
}


<h4>Додати новий матч</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Team1" class="control-label">Ім'я першої команди </label>
				<select asp-for="Team1" class="form-control" asp-items="ViewBag.Team1"></select>
			</div>
			<div class="form-group">
				<label asp-for="TeamRole1" class="control-label">Виїздна чи домашня команда </label>
				<select asp-for="TeamRole1" class="form-control" asp-items="ViewBag.TeamRole1"></select>
			</div>
			<div class="form-group">
				<label asp-for="Goals1" class="control-label">Забиті голи першої команди</label>
				<input asp-for="Goals1" class="form-control" />
				<span asp-validation-for="Goals1" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Team2" class="control-label">Ім'я другої команди </label>
				<select asp-for="Team2" class="form-control" asp-items="ViewBag.Team2"></select>
			</div>
			<div class="form-group">
				<label asp-for="TeamRole2" class="control-label">Виїздна чи домашня команда </label>
				<select asp-for="TeamRole2" class="form-control" asp-items="ViewBag.TeamRole2"></select>
			</div>
			<div class="form-group">
				<label asp-for="Goals2" class="control-label">Забиті голи другої команди</label>
				<input asp-for="Goals2" class="form-control" />
				<span asp-validation-for="Goals2" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Date" class="control-label">Дата матчу</label>
				<input asp-for="Date" class="form-control" />
				<span asp-validation-for="Date" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Division" class="control-label">Дівізіон</label>
				<select asp-for="Division" class="form-control" asp-items="ViewBag.Divisions"></select>
			</div>
			<div class="form-group">
				<label asp-for="Stadium" class="control-label">Стадіон</label>
				<select asp-for="Stadium" class="form-control" asp-items="ViewBag.Stadium"></select>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index" asp-controller="Participants">Back to List</a>
</div>

