@model TCIPlaba1.Models.ParticipantParticipantMatch

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ParticipantParticipantMatch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Match" class="control-label"></label>
                <input asp-for="Match" class="form-control" />
                <span asp-validation-for="Match" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team1" class="control-label"></label>
                <input asp-for="Team1" class="form-control" />
                <span asp-validation-for="Team1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamRole1" class="control-label"></label>
                <input asp-for="TeamRole1" class="form-control" />
                <span asp-validation-for="TeamRole1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goals1" class="control-label"></label>
                <input asp-for="Goals1" class="form-control" />
                <span asp-validation-for="Goals1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team2" class="control-label"></label>
                <input asp-for="Team2" class="form-control" />
                <span asp-validation-for="Team2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamRole2" class="control-label"></label>
                <input asp-for="TeamRole2" class="form-control" />
                <span asp-validation-for="TeamRole2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goals2" class="control-label"></label>
                <input asp-for="Goals2" class="form-control" />
                <span asp-validation-for="Goals2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Division" class="control-label"></label>
                <input asp-for="Division" class="form-control" />
                <span asp-validation-for="Division" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stadium" class="control-label"></label>
                <input asp-for="Stadium" class="form-control" />
                <span asp-validation-for="Stadium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

